---
title: Projects
icon: fa-th
order: 2
---

<style>
  .card-image
  height: 10em
  width: 100%
  overflow-x: hidden

  i
    color: #fff
    padding: 10px

.card
  margin-bottom: 20px
  .card-content
    height: 7em
    overflow: hidden
    font-size: 14px
    line-height: 110%

    span
      width: 100%

  .card-image
    a.card-title
      font-weight: bold
      color: #fff
      width: 100%
      height: 100%
      line-height: 100%
      justify-content: center
      z-index: -1

  .card-reveal
    .card-reveal-content
      display: block

      span.card-title
        font-weight: bold
        padding-bottom: 19px

      span.tooltipped
        display: block
        padding-top: 5px
        padding-bottom: 5px
        font-size: 16px

        i
          font-size: 12px
          margin-right: 10px

.row
  div
    &.switch
      margin-bottom: 5px

.hidden
  display: none
</style>
<link rel="stylesheet" href="css/projects.css">
{% assign sorted_repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse  %}
<div class="col s12 switch">
  <label>
    Show forked projects
    <input class="fork-switch" type="checkbox" checked="1" onchange="toggleForked()">
    <span class="lever"></span>
  </label>
</div>
{% for repo in sorted_repos %}
<div class="col s12 m6 l4" {% if repo.fork %}id="forked"{% endif %}>
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <i class="material-icons waves-effect waves-block waves-light">more_vert</i>
      <a class="card-title center-align valign-wrapper" href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">{{repo.description}}</span>
    </div>
    <div class="card-reveal">
      <div class="card-reveal-content">
        <span class="card-title grey-text text-darken-4">Statistics<i class="material-icons right">close</i></span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{repo.stargazers_count}} stars">
          <i class="material-icons">star</i>
          {{repo.stargazers_count}}
        </span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{repo.forks_count}} forks">
          <i class="material-icons">call_split</i>
          {{repo.forks_count}}
        </span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Last updated：{{repo.updated_at}}">
          <i class="material-icons">access_time</i>
          <time datetime="{{repo.updated_at}}" title="{{repo.updated_at}}">{{repo.updated_at | date: '%Y-%m-%d'}}</time>
        </span>
      </div>
    </div>
  </div>
</div>
{% endfor %}
